@page "{handler?}/{name?}/{last_name?}/{department?}/{sort?}"
@model StaffWebApp.Pages.IndexModel
@{
    <h2 class="mb-5">Главная Страница</h2>

    <a asp-page="CreateOrEdit" asp-route-id="" class="btn btn-primary mb-5">Добавить нового сотрудника</a>

    @if (@Model.Employees.Count != 0)
    {
        <form method="get">
            <div class="form-inline form-group">
                <label class="control-label">Имя: </label>
                <input name="name" class="form-control" />
                <label class="control-label">Фамилия: </label>
                <input name="last_name" class="form-control" />
                <label class="control-label">Отдел: </label>
                <select name="department" asp-items="@Model.DepartmentSelectLists" class="form-control"></select>
                <p>Сортировка</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="NameAsc" id="sorting">
                    <label class="form-check-label" for="sorting">
                       По имени
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="LastNameAsc" id="sorting">
                    <label class="form-check-label" for="sorting">
                       По фамилии
                    </label>
                 </div>
                 <div class="form-check">
                     <input class="form-check-input" type="radio" name="sort" value="DepartmentAsc" id="sorting">
                    <label class="form-check-label" for="sorting">
                       По отделу
                    </label>
                </div>
                <button asp-page-handler="Filter" type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </form>
        <table class="table table-info mt-4">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Адрес Проживания</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Редактирование</th>
                    <th scope="col">Удаление Сотрудника</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in @Model.Employees)
                {
                    <tr>
                        <th scope="row">@items.Id</th>
                        <td>@items.Name</td>
                        <td>@items.LastName</td>
                        <td>@items.Patronymic</td>
                        <td>@items.DateOfBirthday.ToString("dd.MM.yyyy")</td>
                        <td>@items.Location</td>
                        <td>@items.Department.Name</td>
                        <td><a asp-page="CreateOrEdit" asp-page-handler="ById" asp-route-id="@items.Id" class="btn btn-primary">Редактировать</a></td>
                        <td>
                            <form method='post'>
                              <button type="submit" asp-page-handler="delete" asp-route-id="@items.Id" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else
    {
        <p>Нет Данных</p>
    }
}
